$spacing: 20px;

@mixin arrangeBoxes() {
    margin: $spacing;
    padding: $spacing;
}

.boxElement {
    @include arrangeBoxes();
    font-family: 'Segoe UI';
    font-size: 1.5em;
    font-weight: bold;
}

body {
    padding: $spacing;
    header {
        @extend .boxElement;
        background-color: #906288;
        font-size: 3em;
    }
    article {
        @extend .boxElement;
        background-color: #879BB1;
        font-weight: normal;
    }
    footer {
        @extend .boxElement;
        background-color: #C0AFA2;
        font-weight: lighter;
        font-size: 1em;
        font-style: italic;
    }
}

