/****************
Footer Module
*****************/

.footer {
    padding-top: 10px;
}

.footer > .social ul li {
    display: inline-block;
    list-style: none;
}

.footer .inline-display {
    display: inline-flex;
}

.footer .inline-display > div.col-1-3 {
    vertical-align: middle;
    text-align: center;
    line-height: 56px;

}

.footer .inline-display div.col-1-2 > h4 {
    text-align: left;
    + p {
        text-align: justify;
    }
}