/*
Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42;
*/

/***************************
****************************
Reset
****************************
***************************/

@import 'normalize.css';
/* Change all elements to use border-box */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/

/***************************
****************************
Layout Styles
****************************
***************************/

/* Content Container*/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}

/* Row */

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* Row Clear Float*/

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Query excludes extra small devices and includes small and above */

[class*='col-'] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/* Testimonial Section */


@media (min-width: 48em) {
  [class*='col-'] {
    float: left;
  }
  /* Column Two Thirds */
  .col-2-3 {
    width: 66.6666%;
  }
  /* Column Third */
  .col-1-3 {
    width: 33.3333%;
  }

  /* Column Two */
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 48em) {
  .pull-right-sm {
    float: right;
  }
}

@media only screen and (max-width: 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Desktop Speciification for buttons*/
@media (min-width: 48em) {

  .btn-primary {    
    background: #8DC63F;
    padding: 10px 15px 10px 15px;
    height: 40px;    
    max-height: 40px;
    min-height: 40px;
    border-radius: 4px;
    color: white;
    font-family: "Arial Regular", Helvetica, sans-serif;
    font-size: 1.125em;
    line-height: 0.8em;
  
    transition: all 0.3s fade 0s;
    
  }

  .btn-primary:hover {
    background: none;
    border-color: #ffffff;
    text-decoration: none;

  }

  .btn-nav {
    color: white;
  }


}

@media (max-width: 47.9375em) {
  .testimonial {
    height: 460px;
    max-height: 460px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
  }

  /* .testimonial-body > div.row > ul {
    font-size: 0.43em;
    text-align: center;
    margin-right: 0.2em;
   
  } */
}

@media (min-width: 48em) {
  .testimonial {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 400px;
    max-height: 400px;
    text-align: center;
    
  }

  .testimonial-body > div.row {
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 50px;
  }

}

/*Media Object for Mobile*/

@media (min-width: 48em) {
  .media-body p {
    margin-bottom: 40px;
    padding-top: 0px;
    margin-top: 0px;
  }

  h4.media-heading {
    font-size: 1.3em;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .media-item {
    float: none;
    text-align: center;
  }

}
@media (max-width: 47.9375em) {
  .right-pull-sm {
    float: right;
    width: 60%;
  }

  .media {
    padding-top: 40px;
    padding-bottom: 40px;
    
  }

  .media-item {
    float: left;
    text-align: left;
  }

    
  .media-body {
    padding-top: 0px;
  }

  .media-body p {
    margin-bottom: 40px;
    padding-top: 0px;
    margin-top: 0px;
  }

  .media-body button {
    height: 50px;
  
  }

  h4.media-heading {
    font-size: 2em;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .media-item i {
    font-size: 2em;
  }

}

/***************************
****************************
Modules
****************************
***************************/

/* Button Modules */

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;

  transition: all 0.3s ease 0s;
}

.btn-primary {
  background: #8DC63F;
  border-color: #8DC63F;
  color: white;
}

.btn-primary:hover {
  background: none;
  border-color: white;
  text-decoration: none;
}

.btn-nav {
  color: white;
}

.btn-hero {
  padding: 15px 30px 15px 30px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  background: transparent;
  font-size: 1.750em;
  font-family: "Arial Regular", Helvetica, sans-serif;
  border: 1pt solid #ffffff;
  border-radius: 4px;

  transition: all 0.3s ease 0s;

}

.btn-hero:hover {
  background: #ffffff;
  color: #39B54A;
}

/* Header Module */

.header-primary {
  background: #9B8579;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

/* Logo Modules */

.logo {
  overflow: hidden;
  display: inline-block;
}

.logo-primary {
  width: 64px;
  height: 64px;
}

.logo-primary img {
  height: 100%;
}

/* Navigation Modules */

.nav > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-primary {
  margin-top: 35px;
}

/* Hero Modules*/

.hero {
  text-align: center;
}

.hero-primary {
  background: #594a42;
  color: white;
  padding-bottom: 25px;
  padding-bottom: 25px;
}

.hero-primary.bg-image>img {
  opacity: 0.55;
}

.hero-body {
  position: relative;
}

.hero-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.625em;
}

.hero-subtitle {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.500em;
  font-weight: normal;
}

.hero-subtitle+button {
  margin-top: 25px;
}

/*Background Modules*/

.bg-image {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.bg-image>img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 100%;
}

/* Media Object Module */

.media {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.media, .media-body {
  overflow: hidden;
}



.media-item i {
  color: #594a42;
  font-size: 5em;
}

/* Testimonial Module */
.testimonial-body {
  position: relative;
  color: #ffffff;
  
}

.testimonial.bg-image > img {
  opacity: 0.55;
}

.testimonial-item i {
  color: #ffffff;
  font-size: 4em;
}

.testimonial-body ul li {
  list-style: none;
  display: inline-block;
  padding-right: 15px;
  
}

.testimonial-body > div.row {
  margin-bottom: 50px;
}

.testimonial-body div.row > p {
  font-family: "Arial Regular", Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
}
/***************************
****************************
Theme Styles
****************************
***************************/

.background-primary {
  background: #F7941E;
}

.background-secondary {
  background: #00AEEF;
}

.background-tertiary {
  background: #8DC63F;
}

.background-quaternary {
  background: #594a42;
}

.background-quinary {
  background: #e7e1d7;
}